.pagination {
  display: flex;
  gap: 15px;
  margin: 0 auto;
  list-style: none;
  flex-wrap: wrap;
  padding: 10px;

}

.pagination__link {
  text-decoration: none;
  border: 1px solid black;
  color: inherit;
  transition: transform 500ms ease-out;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background:transparent;
  cursor: pointer;
  font-size: 20px;
}

.pagination__link:hover,
.pagination__link.active {
  background: #dc3d3d;
  color: aliceblue;
  border:none;

}

.pagenation__active{
  background: #dc3d3d;
  color: aliceblue;
}

.page {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;


}
